<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1 sec:authorize="!isAuthenticated()">Everyone can see this page</h1>
    <span sec:authorize="hasAnyRole('ROLE_ADMIN')"><h1 style="color: #1b6d85">You are: Admin</h1></span>
    <span sec:authorize="hasAnyRole('ROLE_USER')"><h1 style="color: #2e6da4">You are: User</h1></span>
</div>
</body>
</html>